body{
 height: 100%;
  font: -apple-system-body;
}

/**********************************/
/*Sign In*/
.SignIn .text-justify{
  top:50%;
  transform: translate(0%, 50%);
}
.SignIn{
height: 100vh;
background-color: #f5f5f5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  align-self: center;
}
.form-signin{
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin button{
  width: 100%;
}

/**********************************/
/*Sign Up*/
.SignUp{
  height: 100vh;
  background-color: #f5f5f5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
.SignUp .text-justify{
  top:30%;
  transform: translate(0%, 20%);
}
.form-signup {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  align-self: center;
}
.form-signup{
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 5px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup button{
  width: 100%;
}
.form-signup .custom-select{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 5px;
  font-size: 16px;
  background-color: whitesmoke;
  flex: 1 1 auto;
  width: 1%;
  /* min-width: 0; */
}

/**********************************/

form {
  width: 100%;
}
.loginBox {
  width: 50%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}
.signUpSubmit {
  margin: 25px 0 15px 0;
}
.pwStrRow {
  width: 100%;
  text-align: left;
  margin-top: -4px;
  padding: 0;
  font-size: 12px;
}
.pwStrWeak {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  color: gray;
}
.pwStrStrong {
  display: inline-block;
  position: relative;
  left: 77%;
  padding: 0;
  margin: 0;
  color: gray;
}

/**********************************/
/*DashBoard*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none
}
.parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.parent .left {
  /*background-image: linear-gradient(to right,#24ff72, #9a4eff);*/
  /*background-image: linear-gradient(to right, #eb3449, #ee3f47, #f04946, #f25244, #f45b43);*/
  /*background-image: linear-gradient(to bottom, #c04c86, #9b40a7, #7947a4, #4d228d, #421680);*/
/*background: #603e60;*/
  background-image: linear-gradient(to bottom, #603e60, #c07dc0);
  float: left;
  height: 100vh;
  width: 300px;
  padding: 120px 20px;
  color: #FDE8E8;
}
.parent .left h3 {
  text-transform: uppercase;
  font-weight:bold;
  font-size: 18px;
}
.parent .left .logoutBtn{
  background-color: #3456bd; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 2px;
  box-shadow:  5px 5px 0 rgb(0 0 0 / 15%);

}
.parent .left .logoutBtn:hover{
  transform: scale(1.1);
}
.parent .left ul li:nth-of-type(2) {
  height: 60px;
  width: 211px;
  margin: 30px auto;
}
/************/

.parent .right {
  float: left;
  width: calc(100% - 300px);
  height: 100%;
  padding: 60px 70px 20px 70px;
}
.parent .right .libCardContainer{
  width: 100%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1fr;
  grid-row-gap: 100px
}

.parent .right .libCardContainer .addBookC{
  grid-column: 1/2;

}
.parent .right .libCardContainer .manBookC{
  grid-column: 2/2;

}
.parent .right .libCardContainer .manStudC{
  grid-column: 1/2;

}
.parent .right .libCardContainer .approveC{
  grid-column: 2/2;

}


/******************************************************/
/*Dashboard Card*/
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cardDash {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 298px;
  height: 200px;
  margin: 30px;
  border-radius: 11px 11px 85px 85px;
  box-shadow: 0 8px 0 #fff, inset 0 -9px 0 rgb(255 255 255 / 24%), 0 32px 0 rgb(0 0 0 / 15%);
  overflow: hidden;
}
.cardDash::before {
  content: "";
  position: absolute;
  top: -140px;
  left: -40%;
  padding: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(
          90deg
          , transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(
          35deg
  );
  pointer-events: none;
  filter: blur(5px);
}
.cardDash:nth-child(1) {
  background: linear-gradient(to bottom, #842278, #5f58cb);
}
.cardDash:nth-child(11) {
  background: linear-gradient(to bottom, #ffec61, #f321d7);
}
.cardDash:nth-child(2) {
  background: linear-gradient(to bottom, #24ff72, #9a4eff);
}
.cardDash:nth-child(2) {
  background: linear-gradient(to bottom,  #eb3449, #ee3f47, #f04946, #f25244, #f45b43);
}
.cardDash .content {
  position: absolute;
  width: 100%;
  padding: 30px 30px 30px;
  text-align: center;
}
.cardDash .content h2 {
  font-size: 1.8em;
  color: #fff;
  margin-bottom: 15px;
}
.cardDash .content p {
  color: #fff;
  line-height: 1.5em;
}
.cardDash:hover{
  transform: scale(1.1);
  transition: 0.2s;

}

/**********************************/
/*********Register Book Item **************/

/*********************************/
.addBookContainer{
  display: grid;
  grid-template-columns: 5fr 1fr;
  column-gap: 10px;
}

.authorName{
  grid-column: 1/2;
}
.removeAuth{
  grid-column: 2/2;
}

.register-book-set{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.addIsbn{
  grid-column: 1/2;
}

.addPages{
  grid-column: 2/2;
}

.register-book-set2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.addCopies{
  grid-column: 1/2;
}

.addReference{
  grid-column: 2/2;
}

.register-book-set3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.addPurchase{
  grid-column: 1/2;
}

.addPublication{
  grid-column: 2/2;
}

.register-book-set4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.addIsbn{
  grid-column: 1/2;
}

.addPrice{
  grid-column: 2/2;
}
/*******************************************/
.bookItemContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  alignment: center;
  /*background-image: linear-gradient(to bottom,whitesmoke,whitesmoke);;*/
}

.bookItemInner:hover{
  background-image: linear-gradient(to bottom,white, #d4e9e9);
}
.bookItemInner{
  background-image: linear-gradient(to bottom,white,whitesmoke);
}

/******************************************/

.studentItemContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  alignment: center;
  /*background-image: linear-gradient(to bottom,whitesmoke,whitesmoke);;*/
}

.studentItemInner:hover{
  background-image: linear-gradient(to bottom,white, #d4e9e9);
}
.studentItemInner{
  background-image: linear-gradient(to bottom,white,whitesmoke);
}
